# Folders
/java_jsp_web01/.settings/
/java_jsp_web01/build/

# Compiled class file
/java_jsp_web01/*.class

# Log file
/java_jsp_web01/*.log

# BlueJ files
/java_jsp_web01/*.ctxt

# Mobile Tools for Java (J2ME)
/java_jsp_web01/.mtj.tmp/

# Package Files #
/java_jsp_web01/*.jar
/java_jsp_web01/*.war
/java_jsp_web01/*.nar
/java_jsp_web01/*.ear
/java_jsp_web01/*.zip
/java_jsp_web01/*.tar.gz
/java_jsp_web01/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
